[2019-05-05 11:39] raffaelespazzoli opened #4 "add support for ca injection"
ca_bundles are used by ValidatingAdmissionWebhook and MutatingAdmissionWebhook (and other objects potentially).
ca_bundles are difficult to discover (ironically given that they are public info), and when creating template force ugly solutions.
this injector should allow to annotate a webhook and let the operator discover the ca_bundle and inject it into the right field.
Two discovery modes are sup

[2019-05-16 19:44] raffaelespazzoli commented on #4
close with https://github.com/redhat-cop/cert-utils-operator/pull/5

[2019-05-16 19:44] #4 closed

[2019-06-06 21:52] Gl4di4torRr opened #9 "no error posted to route"
I just installed the [cert-manager](https://github.com/jetstack/cert-manager) along with the `cert-utils-operator` and received `field is immutable, spec.tls.key: Invalid value:` when the `cert-utils-operator` and was trying to attach the certificate.

I went into the route to see if there was an error message attached to some metadata but my route was left in the same state as before. Basically,

[2019-06-06 22:06] raffaelespazzoli commented on #9
what version of OCP are you using? one should be definitely able to change the certificate of a route. In fact you can do it from the console I believe.

[2019-06-07 12:05] Gl4di4torRr commented on #9
@raffaelespazzoli i was testing on a 3.10 cluster. I can test on a 3.11 if you would like me to.

[2019-06-07 12:41] raffaelespazzoli commented on #9
@Gl4di4torRr yes please. I tested this operator with 3.11 and 4.x and never had the issue you are seeing.

[2019-06-10 12:23] Gl4di4torRr opened #10 "oc apply without clone"
If you cut a release, it would be nice to deploy the cert-utils-operator without cloning the repo... something like `oc apply --validate=false -f https://github.com/redhat-cop/cert-utils-operator/releases/download/v0.1.0/cert-manager-utils.yaml`

[2019-06-10 12:29] Gl4di4torRr commented on #9
uh oh...

[code]

[2019-06-10 12:36] raffaelespazzoli commented on #9
@Gl4di4torRr can you give me some context on where/when you saw that error?

[2019-06-10 13:09] Gl4di4torRr commented on #9
@raffaelespazzoli i did a dumb thing and created an insecure route LOL. However, this did cause the container to bounce and that shouldn't be the expected behavior. Let me test again and get back to you. Probably won't be today but will get to it ASAP.

[2019-06-10 13:19] raffaelespazzoli commented on #9
ok, regardless this is a bug as the code should treat this situation more gracefully.
I will stick to my original design that a route must be already secured. I will filter out events regarding insecure reputes and improve the docs around this aspect.

[2019-06-11 02:37] #9 closed

[2019-07-15 19:12] Gl4di4torRr opened #12 "cert-utils-operator cannot list routes at cluster scope"
Hi,

I have deployed the cert-operator. However, I am getting a constant error like this below.

```sigs.k8s.io/controller-runtime/pkg/cache/internal/informers_map.go:126: Failed to list *v1.Route: routes.route.openshift.io is forbidden: User "system:serviceaccount:cert-manager:cert-utils-operator" cannot list routes.route.openshift.io at the cluster scope: User "system:serviceaccount:cert-manager

[2019-07-15 19:39] raffaelespazzoli commented on #12
the manifests assume you are going to deploy the cert-utils-operator in the `cert-utils-operator` namespace.
please update the role-binding.yaml if you want to deploy it in a different namespace.
I should fix this by creating a template to deploy the operator.

[2019-07-15 19:41] Gl4di4torRr commented on #12
@raffaelespazzoli gotcha - i was thinking that might be the issue. What do you think about that picking up the target namespace or a doc on how to change the target namespace?

[2019-07-25 12:59] raffaelespazzoli commented on #12
I'll create an issue to create a helm chart. or if you have a 4.x cluster you can install the operator via operator hub.

[2019-07-25 12:59] #12 closed

[2019-07-25 12:59] raffaelespazzoli opened #13 "create helm chart"

[2019-07-25 13:00] raffaelespazzoli opened #14 "destinationCACertificate should be able to get its CA bundle from a different secret"

[2019-07-27 01:39] raffaelespazzoli opened #15 "unable to update routes"

[2019-07-27 21:17] raffaelespazzoli opened #17 "reset route TLS material when changed while the annotation is set"
currently the operator does not reset route TLS material if changed by an external agent while the annotation is set

[2019-07-28 20:08] #17 closed

[2019-07-28 22:40] #15 closed

[2019-07-29 05:58] #14 closed

[2019-08-03 13:35] raffaelespazzoli opened #21 "route controller should wake up if the destination ca secret is updated"

[2019-08-04 01:34] #13 closed

[2019-08-04 01:34] #21 closed

[2019-08-04 02:26] raffaelespazzoli commented on #10
closed by #20

[2019-08-04 02:26] #10 closed

[2019-08-06 04:24] raffaelespazzoli opened #23 ""algid parse error, not a sequence" when a java app tries to use a keystore"
keystores expects key to be in the PKCS8 format. When creating the keystore keys must be converted to this format if they are not.

[2019-08-09 12:42] raffaelespazzoli commented on #23
as of now there does't seem to be a good way of converting the format. so it is a responsibility of the certificate provisioner to ensure the certificate is in PKCS#8 format. if using cert-manager to provision certificates add the following: `  keyEncoding: pkcs8`

[2019-08-11 08:31] #23 closed

[2019-09-18 20:06] ron1 opened #28 "Add v0.0.3 of operator to OpenShift and Upstream Community Operators"
Since most of the functionality of this operator is useful to the upstream Kubernetes community, consider making v0.0.3 available to both the OpenShift and upstream communities on OperatorHub.io.

[2019-09-18 20:44] ron1 opened #29 "Improve docs to better describe how the CA Injector works with CRDs"
It is not clear in the docs how the CA Injector works with CRDs? For the Webhooks, it is clear the injection is done to the WebhookClientConfig.caBundle. This is not the case for CRDs. How is the CA Injector intended to work with CRDs?

I would like to use the CA Injector with Rook/Ceph RGW as briefly described here: https://github.com/rook/rook/pull/3016#issuecomment-532767824. My client applicat

[2019-09-19 01:10] raffaelespazzoli commented on #29
so for CRDs there is a field in the CRD definition to define a webhook that is responsible for converting CRDs of the same type but different versions. That is currently the only use of a CA injector for CRD. In other words th CA inject at the moment cover three very specific use cases and it's not general purpose. however, if you are using OCP 4.x there is a generic [CA injector operator](https:/

[2019-09-19 01:11] raffaelespazzoli commented on #28
right now the operator requires routes, which are not available in Kubernetes. However it may be possible to add a flag to disable the route controller and use the rest of the functionalities in a Kubernetes  instance.

[2019-09-19 03:42] ron1 commented on #29
Thanks for the clarification.

The OCP 4.x CA Injector operator's ConfigMapCAInjector (https://github.com/openshift/service-ca-operator/tree/master/pkg/controller/configmapcainjector) does not appear to provide comparable functionality to that offered by this CA Injector for Webhooks. In light of that fact, would you consider expanding the scope of the cert-utils-operator CA Injector to include Co

[2019-09-19 12:14] ron1 commented on #28
Would it be possible on startup to only enable the route controller if the route api resource is available?

[2019-09-19 12:15] raffaelespazzoli commented on #29
I think the feature is well stated and technically feasible. We can add it. To summarize it for the benefit of whomever will help contributing it:
1. an injection annotation will be observed on configmaps.
2. the ca.crt from the referenced secret will be injected.
3. if the secret is annotated to generate a keystore, then the truststore will also be injected.
4. a secret from a different namespace

[2019-09-19 12:34] raffaelespazzoli commented on #28
I think it should be possible, and this is a good idea.

[2019-09-19 21:30] OchiengEd opened #30 "Add ServiceMonitor to allow Metrics to be sent to Prometheus"
Given the operator already exposes a metrics endpoint through a service, I recommend creating a `ServiceMonitor` to sink the metrics to Prometheus.

This will eliminate the need for manual intervention to accomplish this task.

[2019-09-20 01:57] raffaelespazzoli commented on #30
should this be added to the helm chart or created by the operator when it starts?

[2019-09-20 15:33] OchiengEd commented on #30
It should not matter where it is added. It however makes sense to create the `ServiceMonitor` after the metrics service.

An example would appear as shown below.

[code]

[2019-09-22 14:03] raffaelespazzoli commented on #29
One change on the previous design. To favor homogeneity, I think it would be better to inject ca-bundles into secrets as opposed to configmaps. Secrets and configmaps can be used essentially in the same context so this should not limit the usability. So the design becomes the following:
1. an injection annotation will be observed on secrets of type `kubernetes.io/tls`.
2. the ca.crt from the refer

[2019-09-23 00:32] raffaelespazzoli commented on #29
based on prototype in #31, a few things:
1. I implemented CA injection for both secrets and configmap
2. configmaps cannot contain trustores because configmaps can only contain text objects.

[2019-09-30 11:59] raffaelespazzoli commented on #29
close by #31

[2019-09-30 11:59] #29 closed

[2020-04-09 16:57] mathianasj opened #35 "Watch All Namespaces"
I would like the ability to watch all namespaces when deploying with OLM.

[2020-04-09 17:18] raffaelespazzoli commented on #35
that's already the behavior. Let me know if I can close this.

[2020-04-09 17:22] mathianasj commented on #35
So even with this in the olm deployment section

 - name: WATCH_NAMESPACE
                  valueFrom:
                    fieldRef:
                      fieldPath: metadata.annotations['olm.targetNamespaces']

which will render to the deployed namespace it will still watch all namespaces?

[2020-04-09 17:27] raffaelespazzoli commented on #35
it's a bug.

On Thu, Apr 9, 2020 at 1:22 PM mathianasj <notifications@github.com> wrote:

--
ciao/bye
Raffaele

[2020-04-09 17:32] mathianasj commented on #35
I will take a look at this

[2020-04-10 14:12] #28 closed

[2020-04-10 14:12] #35 closed

[2020-04-13 13:43] InfoSec812 opened #38 "Documentation error"
This [LINE](https://github.com/redhat-cop/cert-utils-operator/blame/master/README.md#L33) shows the command:

[code]

But the command is missing an argument and needs to be changed to:

[code]

The `helm search` needs the `repo` argument with Helm v3.1.2

[2020-04-13 14:45] #38 closed

[2020-04-18 22:33] raffaelespazzoli opened #40 "configmap injection seems to be generating a large number of events"
investigate why configmap injection controller seems to be receiving an unlimited number of events.
when adding logs to the event filter:
[code]
the operator seems to be entering an infinite loop in which all it does is printing those statements and discard the event.

[2020-04-18 23:01] raffaelespazzoli opened #41 "re-enable ca injection tests"
cert-manager seems to not be creating the `ca.crt` entries for generated certificates.
some of the ca injection test.
We need to come up with another mechanism to populate the `ca.crt` field. Or alternatively understand if the upstream convention for `ca.crt` has changed.

[2020-04-21 13:50] mathianasj commented on #40
@raffaelespazzoli do you have any steps to replicate the issue?  I was unable to witness that behavior.

Steps to try to reproduce
1. create secret
[code]
2. create configmap with annotation to reference secret
[code]

[2020-04-21 14:21] raffaelespazzoli commented on #40
@mathianasj I didn't even have to create the secret. Did you add those debug statement? Do you see them in the logs? After opening this issue, I thought that perhaps there are some configmap in OCP 4.x that are constantly getting renewed and that could have explained the behavior I was seeing.

[2020-04-21 14:42] mathianasj commented on #40
I am able to see the log message when running locally I did have to change one thing on my 4.3.13 cluster to get it to start.  The only time I get the log entry is when I change a configmap

I had to change https://github.com/redhat-cop/cert-utils-operator/blob/a68715b246f0a7eb26f98384fbbc02b16c66158d/cmd/manager/main.go#L24

crd "k8s.io/apiextensions-apiserver/pkg/apis/apiextensions/v1beta1"
to
c

[2020-04-21 14:44] mathianasj opened #44 "Operator will not start missing v1.CustomResourceDefinition"
When I try to start the operator against a 4.3.13 cluster locally I get the following error

Manager exited non-zero","error":"no kind is registered for the type v1.CustomResourceDefinition in scheme \"pkg/runtime/scheme.go:101

If I switch to register the v1 instead of v1beta1 it works.

[2020-04-21 14:45] mathianasj commented on #44
I think the better approach is to have both added for backward compatibility

[2020-04-21 14:47] mathianasj commented on #40
Let me try one more check

[2020-04-21 14:55] raffaelespazzoli commented on #44
which line of code is generating the error?

On Tue, Apr 21, 2020 at 10:45 AM mathianasj <notifications@github.com>
wrote:

--
ciao/bye
Raffaele

[2020-04-21 16:44] mathianasj commented on #40
@raffaelespazzoli I see what you mean now, that looks like normal behavior because the ones that are flowing ar things like the configmap locks for operators.  Not sure if we can exclude certain configmaps from the watch?

[2020-04-21 18:02] raffaelespazzoli commented on #40
@mathianasj can you upgrade the CRD to v1?
@mathianasj we can't exclude configmaps by namespace. not sure if there is pattern to see the configmaps used as leader election locks by operators. Any idea?

[2020-04-22 12:46] #44 closed

[2020-04-27 17:36] mathianasj opened #46 "Race Condition with Secrets"
When you have a secret that includes a CA entry there is no check to make sure it is annotated on update events.

[2020-04-27 18:29] #46 closed

[2020-04-27 18:42] mathianasj opened #48 "Invalid secret name causes crash"
If you do not specify a secret with namespace/secret the controller will crash.

E0427 14:40:52.174434   56565 runtime.go:78] Observed a panic: runtime.boundsError{x:-1, y:8, signed:true, code:0x1} (runtime error: slice bounds out of range [:-1])

[2020-04-27 18:43] mathianasj commented on #48
It would be better to attach a status to the annotated entry with an error message

[2020-04-27 19:23] raffaelespazzoli commented on #48
this is a bit obscure. Which controller is failing? under which condition exactly?

[2020-04-27 19:55] mathianasj commented on #48
I noticed with the config map controller for cainjector specifically.  If I do not follow namespace/secret-name is what causes a crash.  If I annotate with any of the following below.

Config Map Annotation
cert-utils-operator.redhat-cop.io/injectca-from-secret: secret-name

Secret Annotation
cert-utils-operator.redhat-cop.io/injectca-from-secret: secret-name

[2020-04-27 19:55] mathianasj commented on #48
If that happens the pod goes into a crash loop

[2020-04-27 22:47] raffaelespazzoli commented on #48
ok, the input is not correctly validated before being processed. The operator should simply fail without panicking.

[2020-05-01 16:03] mathianasj commented on #40
Since this is normal behavior due to increased logging I think we can close this.  Even if we add an exclude in the updatefunc to look for the annotation that defines the configmap as a lock it will still fire.

[2020-05-01 17:05] #48 closed

[2020-05-01 17:06] #40 closed

[2020-06-14 15:06] devopstales opened #51 "no matches for kind CustomResourceDefinition"
The operator is faling after deploy:

[code]

[2020-06-14 15:12] raffaelespazzoli commented on #51
CustomResourceDefinition are typically defined in each kube environment. In which environment are you running?

[2020-06-14 15:25] devopstales commented on #51
openshift OKD 3.11

[2020-06-14 20:51] raffaelespazzoli commented on #51
can you look at the version of the crd object?
`oc get CustomResourceDefinition.apiextensions.k8s.io certificaterequests.cert-manager.io`

[2020-06-15 05:39] slaterx commented on #51
@raffaelespazzoli I can reproduce the error above. I'm also running OKD 3.11.

Running your command gives me:

[code]

[2020-06-15 05:41] slaterx commented on #51
Further to this, v0.1.0 instead of v0.1.1 works fine after deploying.

[2020-06-15 19:59] raffaelespazzoli commented on #51
sorry I should have been clearer. can you run this command:oc get `CustomResourceDefinition.apiextensions.k8s.io certificaterequests.cert-manager.io -o yaml`
and look at the apiversion of the CustomResourceDefinition type. I'm going to guess it's not `v1` in OKD 3.11.

[2020-06-15 20:03] slaterx commented on #51
Correct, it is v1alpha2:

[code]

[2020-06-15 21:01] raffaelespazzoli commented on #51
ok, I have no plan to maintain backward compatibility with the 3.x line of OpenShift. So, I think you have three options:
1. run the v0.1.0 version of the operator
2. upgrade to OpenShift 4.x
3. fork the operator and backport it to OpenShift 3.x

[2020-06-15 21:39] slaterx commented on #51
Will you consider our PR if we find a way to backport it?

[2020-06-16 12:48] raffaelespazzoli commented on #51
@slaterx sure.
I assume the CRD injection is not something that makes much sense anyway on OpenShift 3.11, so perhaps the best approach for this patch would be to simple disable that controller when running on OpenShift 3.x

[2020-06-30 12:37] mathianasj opened #52 "Java Truststore from ConfigMap"
I would like to be able to generate a java truststore from a configmap so I can utilize the "config.openshift.io/inject-trusted-cabundle" label.  This will enable me to consume the ca trusts that are configured at a cluster level for an environment and pass them on to Java applications and remove the need to create custom images for trust.

[2020-06-30 12:53] raffaelespazzoli commented on #52
yes. in openshift now there seem to be a new standard by which ca are made available via configmap. We can certainly add that capability.
In the meantime you might try to use the resource-locker-operator[1] to inject the configmap field into a secret.

[1]: https://github.com/redhat-cop/resource-locker-operator

[2020-07-01 11:53] mathianasj opened #53 "Java truststore only adds last ca bundle entry"
The java truststore creation only adds the last entry in a ca bundle file to the jks truststore.  I found where the issue is the counter to increment the alias never gets incremented and always adds to the 0 key.  I should have a PR shortly to resolve the issue.

[2020-07-01 12:16] #53 closed

[2020-07-01 16:11] mathianasj opened #55 "Inject ca from configmap bundle"
Instead of taking the approach to make the truststore for java in the configmap, which causes it to not work because you cannot store binary in a configmap (closes #52).  This will allow to inject the ca bundle from the configmap and use the traditional way of creating the truststore.

[2020-07-01 16:11] mathianasj commented on #52
Will close and implement #55 instead

[2020-07-01 16:32] raffaelespazzoli commented on #55
I'm not sure I'm following, but for your information configmaps can hold binary data now:
https://kubernetes.io/docs/reference/generated/kubernetes-api/v1.18/#configmap-v1-core

[2020-07-01 16:35] mathianasj commented on #55
but that does not work in openshift 4.3, correct?

[2020-07-01 16:36] mathianasj commented on #55
And if you try to mount a configmap from binary data it cannot read the jks file since it tries to mount it as plain text files, unless I was doing something wrong.

[2020-07-01 16:48] raffaelespazzoli commented on #55
it's available since 1.10 so it will work in 4.3, you need to put that file in the `binaryData` field.

[2020-07-01 16:50] mathianasj commented on #55
@raffaelespazzoli ok will look at the other way i have for configmap and see if it works, then we will need to decide which approach makes more sense

[2020-07-02 14:59] mathianasj commented on #55
I am probably going to reopen the one I closed and go that route so you don't have to have multiple copies of the same thing, ex copy configmap to secret and do that as this is proposing.

[2020-07-02 14:59] mathianasj commented on #52
Reopening as this is working, I did not know that configmaps had a binarydata section now.

[2020-07-02 15:00] mathianasj opened #58 "Turn on unit tests"
I would like to see unit tests enabled as part of the travis builds.

[2020-07-03 10:51] raffaelespazzoli commented on #58
I am totally in favor of it. Never found a good framework. Maybe things gave changed now. Could we look into this framework: https://kuttl.dev/ ?

[2020-07-08 18:03] #52 closed

[2020-07-11 13:54] mathianasj commented on #55
Going to close this because my initial approach was the better one to take.

[2020-07-11 13:54] #55 closed

[2020-07-11 13:55] mathianasj opened #59 "Covert to github actions"
I want to convert the ci process to use github actions.

[2020-07-11 13:57] mathianasj opened #60 "New OLM Hub Format"
Need to convert to using the new operator hub format.

[2020-07-24 13:21] raffaelespazzoli commented on #51
@slaterx may I close this issue?

[2020-07-24 20:51] slaterx commented on #51
Yes, you can close it @raffaelespazzoli!

[2020-07-25 00:46] #51 closed

[2020-07-27 14:41] mathianasj opened #63 "Refactor Duplicate Code"
As we have added new controllers we have had a tendency to just copy-paste generic functions such as get ca from secret for instance.  We should got back and pull out duplicate functionality and put it in the generalized util files for instance.

[2020-07-29 12:41] sramek5 opened #65 ""level":"error","ts":1596025413.503453""
I am not sure if I can use this tool separately from operator-sdk.

However, after deploying with helm, I get **Back-off restarting failed container** error.
Logs:
{"level":"error","ts":1596025413.503453,"logger":"cmd","msg":"","error":"no such file or directory","stacktrace":"github.com/go-logr/zapr.(*zapLogger).Error\n\t/home/travis/gopath/pkg/mod/github.com/go-logr/zapr@v0.1.1/zapr.go:128\nmain

[2020-07-29 13:03] raffaelespazzoli commented on #65
@mathianasj would you mind looking into this issue?

[2020-07-29 13:15] mathianasj commented on #65
I will take a look

[2020-07-29 15:45] milosgajdos opened #66 "Broken in OpenShift 4.5"
We were using this wonderful operator to automatically inject TLS certs generated by cert- manager into routes, but after upgrade to 4.5 we started noticing the following errors in the logs:
[code]

We install the operator using Helm chart, I think it's missing the following rules in the clusterrole:
[code]
Possibly with fine-tuned verbs.

[2020-07-29 15:58] mathianasj commented on #66
Did you update your deployment chart to use the updates located here https://github.com/redhat-cop/cert-utils-operator/blob/1059e69aec371e3ff80b9cf30b6c0a4baaea8e0d/deploy/role.yaml#L35

I see that the updated requirements are included under the deploy folder.

[2020-07-29 16:00] mathianasj commented on #66
I actually misspoke, it looks like we did not propagate the changes into the helm chart also for role.  Would you be interested in creating a pull request with the addition?

[2020-07-29 16:08] milosgajdos commented on #66
The rules seem to be in the default branch already, where how do you folks maintain your Helm chart? I'm happy to open a PR indeed once I know where I can find it

[2020-07-29 16:11] mathianasj commented on #66
Thank you for looking to contribute, the chart and specifically where the role file is in the chart is located here

https://github.com/redhat-cop/cert-utils-operator/blob/master/charts/cert-utils-operator/templates/role.yaml

[2020-07-29 16:12] milosgajdos commented on #66
Oh :-) I must've gone blind. Thanks, will open a PR in a minute!

[2020-07-29 16:16] mathianasj commented on #65
@sramek5 can you provide some more details about where you are deploying

Kubernetes version, openshift version

I was unable to duplicate on a 4.5 openshift cluster is why I ask.

[2020-07-29 16:33] #66 closed

[2020-07-29 19:02] mathianasj opened #68 "Automate Helm Chart Templates"
I would like to automate a process where you can generate the helm chart templates from the contents of the deploy folder

[2020-07-30 08:27] sramek5 commented on #65
Hi @mathianasj, thank you for helping me.

Versions:
Helm - v3.2.4
Kubernetes: Client - v1.18.6.
                      Server - v1.18.4
Cert-utils-operator - v0.2.1

[2020-07-31 13:51] mathianasj commented on #65
@sramek5 I was able to find the root cause of the issue, this was due to not checking if the operator was running on an OpenShift implementation.  I have created a pull request to resolve the issue and will work to get it merged.  Thank you for reporting this.

[2020-07-31 14:10] mathianasj opened #70 "Refactor file watching"
Right now we have almost copy/paste duplication of the file watcher for the systemCAFilename in

apiservice_controller.go
customresourcedefinition_controller.go
mutatingwebhookconfiguration_controller.go
validationwebhookconfiguration_controller.go

I would like to see this functionality abstracted out of these files and placed in a shared location.

[2020-07-31 14:17] #65 closed

[2020-08-06 17:41] rcarrata opened #72 "Cert utils operator cannot list apiservices SA"
**Steps to reproduce**
Installation from helm as readme reflects

**What's the issue**

User "system:serviceaccount:cert-utils-operator:cert-utils-operator" cannot list resource "apiservices" in API group "apiregistration.k8s.io" at the cluster scope

[code]

[2020-08-06 17:42] rcarrata commented on #72
After adding the privileges to the SA of cert-utils-operator to list the apiservices, the errors still appearing:

[code]

[2020-08-06 17:43] mathianasj commented on #72
What is your target platform Kubernetes/OpenShift and version
Helm version

[2020-08-06 18:01] raffaelespazzoli commented on #72
looking at the code the permissions have not been added to the helm chart, but only to the OLM template.

[2020-08-06 18:06] rcarrata commented on #72
thanks for your quick response @mathianasj @raffaelespazzoli

target Openshift

[code]

[code]

@raffaelespazzoli I added permissions to the SA, but seems to only fix the error of:
[code]

any workaround?

[2020-08-06 19:15] raffaelespazzoli commented on #72
on your side your workaround is correct.
On our side we need to fix the helm chart.

On Thu, Aug 6, 2020 at 2:07 PM Roberto Carratala <notifications@github.com>
wrote:

--
ciao/bye
Raffaele

[2020-08-06 19:31] raffaelespazzoli commented on #72
i should be fixed now, can you retry? @rcarrata

[2020-08-07 10:05] rcarrata commented on #72
tested and working perfectly in a new ocp 4.4 cluster:

[code]

No restarts neither failures detected in the installation / usage of the operator:

[code]

Thanks for your help @raffaelespazzoli @mathianasj !

[2020-08-07 10:41] #72 closed

[2020-08-10 11:34] noelo opened #73 "injectca-from-service_ca not working for configmaps"
Hi,
I'm trying to generate configmap with a truststore containing the ocp service ca and the injectca-from-service_ca doesn't seem to be working.
I'm using the following configmap :

`apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    cert-utils-operator.redhat-cop.io/injectca-from-service_ca: "true"
    cert-utils-operator.redhat-cop.io/generate-java-truststore: "true"
  name: test-injec

[2020-08-10 19:26] noelo commented on #73
Right with @raffaelespazzoli help we managed to get this going. The following is an example of how to do this

`
apiVersion: v1
kind: ConfigMap
metadata:
  annotations:
    service.beta.openshift.io/inject-cabundle : "true"
    cert-utils-operator.redhat-cop.io/generate-java-truststore: "true"
    cert-utils-operator.redhat-cop.io/source-ca-key: "service-ca.crt"
    cert-utils-operator.redhat-cop.

[2020-08-10 19:26] #73 closed

[2020-08-12 07:34] milosgajdos opened #74 "When are you planning to release the latest helm chart?"
We would love to have #67 in our cluster from the upstream rather than maintaining our fork.
Equally, we would appreciate if you could consider merging #71 in as well :-)

[2020-08-12 11:12] mathianasj commented on #74
#67 should be available now, we reran the release of the helm chart after that was merged.  Can you try installing with the chart again?  I will take a look at #71 today.  Thanks again!

[2020-08-12 12:04] milosgajdos commented on #74
Thanks, #67 seems to be in the latest release 👍

[2020-08-12 12:04] #74 closed

[2020-09-17 12:21] aceeric opened #75 "Opaque secrets"
It would be beneficial to have the cert-utils-operator to inject a JKS from an Opaque secret. Here's the use case:

1) Deploy Elastic Cloud for Kubernetes (ECK) Operator into the cluster
2) Create a CR `elasticsearch.k8s.elastic.co/v1/elasticsearch` named nxelastic
3) ECK Operator creates an ElasticSearch cluster and also creates **opaque** secret named `nxelastic-es-http-certs-public`
4) Create a

[2020-09-17 12:49] raffaelespazzoli commented on #75
no, I don't think we should support this use case.
just for me to understand what is the content of the `nxelastic-es-http-certs-public` secret? A truststore or PEM formatted certificates?
Anyway generally speaking Middleware should not create their own certificates. They are now a PKI, they can meet the requirements of a PKI. Middleware should be designed to accept certificates created with some

[2020-09-17 13:18] aceeric commented on #75
`nxelastic-es-http-certs-public` is provisioned by the Elastic Cloud operator. It contains `ca.crt` and `tls.crt`. ECK is available on OperatorHub.io. Whether the "middleware" creates the secret or not is not really knowable to the consumer. The operator is basically saying "this is the CA you use if you want to use one-way TLS to connect to my service." The CA could have been provisioned by any c

[2020-09-17 13:25] aceeric opened #76 "Latest version of cert-utils-operator does not support OpenShift 3.11"
With the change from 0.1.0 to 0.1.1, the cert-utils-operator does not support OpenShift 3.11. The operator uses `k8s.io/appextensions-apiserver/pkg/apis/apiextensions/v1`. But:
[code]
And
[code]
Do you see value in supporting the `v1` CRD as well as the `v1beta1` CRD for OpenShift 3.11 compatibility. If not, users can only use cert-utils-operator v0.1.0 until they upgrade their OpenShift cluster.

[2020-09-17 13:31] raffaelespazzoli commented on #75
@aceeric OK thanks. so it's in PEM format. I still argue that that operator should give you an option to pass it the certs to use instead of generating them.
A possible workaround to use this operator[1] to inject the PEM-formatted certs to a secret of type TLS, from there you can use the cert-utils operator. Look for the patching feature.

[1]: https://github.com/redhat-cop/resource-locker-operat

[2020-09-17 13:50] raffaelespazzoli commented on #76
@mathianasj I thought we disabled the controller that needed to watch for CRDs to support running on OCP 3.x.
Can you confirm if we still have this issue?

[2020-09-17 21:39] #75 closed

[2020-10-01 19:24] amelie1979 opened #77 "Base image need to be updated or Rebuild from latest need to be updated on Quay."
source: quay.io/redhat-cop/cert-utils-operator:latest
Quay Security Scanner has detected 52 vulnerabilities.
Patches are available for 52 vulnerabilities.
 8 High vulnerabilities.
 33 Medium vulnerabilities.
 11 Low vulnerabilities.

Its also affecting OCP operator provide in OCP 4.5.11
Container security is flagging the image.

That would be interesting to receive an email or webhook from Quay wh

[2020-10-02 16:47] mathianasj commented on #77
Going to take a look at this and looks like it should be an easy fix

[2020-10-11 11:50] #77 closed

[2020-10-19 08:34] dejwsz commented on #76
This problem lasts from version v0.1.1 in Openshift 3.11. Any solution to this?
I have a problem with old version v0.1.0 because it removes 'ca.crt' keys from 'kubernetes.io/tls'. secrets. I wanted to upgrade to see if the problem is solved.

[2020-10-19 17:55] dejwsz opened #80 "'ca.crt' is removed from 'kubernetes.io/tls' secret after a while"
I have cert-manager deployed in latest 1.0.3 version in Openshift 3.11, I deployed also cert-utils-operator in version 0.1.0 - newer versions do not work unfortunately in this environment (it would be good to look at it).
So having cert utils operator in place while creating a new certificate from self-signed Issuer I can see 3 keys there, so: tls.key, tls.crt and ca.crt. After a few minutes, the

[2020-10-19 18:18] mathianasj commented on #80
Hi, this is by design.  The route gets updated with the contents of the provided secret.  If ca.crt is not provided in the secret that is why it is being overwritten.  This behavior should be present in the latest version also.

[2020-10-19 18:20] mathianasj commented on #80
See here https://github.com/redhat-cop/cert-utils-operator/blob/111b8a2e3b2f40adf64bb5e7613ce0d072a06b51/pkg/controller/route/route_controller.go#L367

[2020-10-19 18:54] dejwsz commented on #80
This secret was not used for a route at all, I did not use any cert until operator annotation on it.
It should not work like this, the operator should not care about secrets which are not related to it I believe?
This looks like some side effect to me or I do not understand something. The operator should work only then if I use consciously one of the annotations on a secret, a configmap or a route

[2020-10-19 21:31] mathianasj commented on #80
I misread this at first.  Would you be able to provide a sample of the cert manager certificate, and an output of the secret for me to review and duplicate the issue.  What version of cert-manager do you have deployed?

[2020-10-20 08:39] dejwsz commented on #80
Hmm, I need to apologize. Maybe I had some other problem. I just wanted to be sure and give you all the needed info. So I removed everything and reinstalled again on my different Openshift 3.11 cluster. And now I cannot reproduce the same problem. Maybe I had some weird state in etcd in my test cluster as in the operator logs I can see such errors:

{"level":"error","ts":1603182665.7103422,"logger

[2020-10-20 08:40] dejwsz commented on #80
I am using the latest cert-manager v1.0.3 and cert-utils-operator v0.1.0.

[2020-10-20 10:40] dejwsz commented on #80
Hmm I think I did it - it took more time that I antipicated. So in a second Openshift 3.11 cluster I have cert-manager v1.0.3 and cert-utils-operator v0.1.0. In one of my namespace I created local Issuer and later Certificate. And I just let them be there for a while. After some time (I checked it again after 1 hour) 'ca.crt' from the generated secret was removed. If I do the same later but withou

[2020-11-12 19:03] ron1 commented on #80
We also run cert-utils-operator v0.1.0 on OCP 3.11 and have seen this behavior. Since we do not have cert-manager installed, I do not think this bug has anything to do with cert-manager.

[2020-12-30 14:49] raffaelespazzoli opened #81 "ability to inject ca_bundles from configmap"
ca_bundles are public info and there is a trend now make them available in configmaps rather than secrets. Cert-uitls should support injecting ca_bundles from configmaps.
A single configmap to secret injector should suffice as all other injector support secret as source.

[2020-12-30 14:50] raffaelespazzoli commented on #81
This Fixes #41 also when closed.

[2020-12-31 06:37] #59 closed

[2020-12-31 06:37] #60 closed

[2020-12-31 06:37] #68 closed

[2020-12-31 06:37] #70 closed

[2021-01-29 12:52] mathianasj opened #83 "Multiple Routes with one secret fail to update"
When two or more routes are annotated with the same secret only one is updated when the secret is updated unless you restart the operator.

[2021-01-29 12:53] mathianasj commented on #83
Going to try to come up with a step by step duplication procedure but saw this happen numerous times now

[2021-01-29 16:27] mathianasj commented on #83
@raffaelespazzoli  Found the issue, it was created by the addition of a break in the loop to match secrets to their routes

[2021-01-29 16:29] mathianasj commented on #83
found here
https://github.com/redhat-cop/cert-utils-operator/blob/a160c6b9a20d3146034061229a2ff2d89be2fef6/controllers/route/route_controller.go#L236
and
https://github.com/redhat-cop/cert-utils-operator/blob/a160c6b9a20d3146034061229a2ff2d89be2fef6/controllers/route/route_controller.go#L240

[2021-01-30 03:47] #83 closed

[2021-02-08 12:56] Bjornej opened #85 "Populating route certificates from secrets in another namespace"
Hi, I was looking trough the documentation to setup cert manager with let's encrypt on a openshift cluster and I came across this operator.  I have a situation where I need to create a wildcard Let's encrypt certificate and use it in routes defined in 4-5 namespaces.

I saw that the annotation` cert-utils-operator.redhat-cop.io/certs-from-secret: "<secret-name>"` can load from a secret and that fu

[2021-02-08 14:00] raffaelespazzoli commented on #85
The design to not allow you to load certificates from another namespace is for security reason. CA bundles are public info, so it's ok to do cross namespace look-ups.

[2021-02-08 14:09] Bjornej commented on #85
So the recommended solution in this case is to create separate secrets in every namespace with the wildcard certificate and sync them in some way (cronjob, etc..) ?

[2021-02-08 14:16] raffaelespazzoli commented on #85
my recommended solution is described here:
https://www.openshift.com/blog/self-serviced-end-to-end-encryption-for-kubernetes-applications-part-2-a-practical-example

This is a rather old article and the automation may not work anymore, but
the concepts are still valid.

On Mon, Feb 8, 2021 at 9:10 AM Paolo Nicodemo <notifications@github.com>
wrote:

--
ciao/bye
Raffaele

[2021-04-09 12:23] mathianasj commented on #76
Cert-utils-operator is currently only supporting OpenShift 4.x and newer.  We welcome pull requests and I would be happy to review one to address the issues with 3.11.

[2021-04-09 12:23] #76 closed

[2021-04-09 12:23] #85 closed

[2021-04-09 12:24] mathianasj commented on #81
Going to review if this was completed as part of or #82

[2021-04-09 12:27] mathianasj commented on #80
@dejwsz I believe this should be fixed with #84

[2021-04-09 12:27] #80 closed

[2021-04-28 06:01] aelbarkani opened #88 "Conflict when installing cert-utils-operator with other redhat-cop operators ?"
I've noticed that having this operator installed with other redhat-cop operators like https://github.com/redhat-cop/resource-locker-operator in the same cluster is causing problems to OLM. The other operators seems to be stuck in Pending state.
Maybe because the SA used is default ? I've noticed that this issue doesn't happen with https://github.com/redhat-cop/namespace-configuration-operator sinc

[2021-04-28 12:02] raffaelespazzoli commented on #88
this should be fixed by #87

[2021-04-29 03:41] traceygithub opened #89 "Duplicated CA certs cause "ExtendedValidationFailed""
Venafi issues a certificate which includes the CA cert in spec.tls.certificate. After enabling cert-utils-operator.redhat-cop.io/certs-from-secret on a route, it causes a validation error (ExtendedValidationFailed) since there are now two CA certs in the chain.

As a work round, we would have to manually disable cert-utils-operator.redhat-cop.io/certs-from-secret and remove spec.tls.caCertificate,

[2021-04-29 11:58] raffaelespazzoli commented on #89
@traceygithub thanks for this issue. let me see if I understand correctly. Your venafi puts the root ca cert both in the `tls.crt` (here together with the entire validation chain and the top level certificate) and in the `ca.crt`.
so now the root level certificate is present two times in cert material that the route publishes to a client.
Then when you connect with a client your client fails with

[2021-04-29 19:45] traceygithub commented on #89
@raffaelespazzoli  that is right: the Venafi puts the CA cert in both tls.crt and ca.crt. The route gets rejected from Openshift  (not from a client) due to "ExtendedValidationFailed" with two CA certs found in the route TLS. The case is similar to the one reported in https://github.com/redhat-cop/cert-utils-operator/issues/89 for kubernetes.io/tls-acme.

$ oc get route
NAME       HOST/PORT

[2021-04-29 19:47] traceygithub commented on #89
reported issue for kubernetes.io/tls-acme: https://github.com/tnozicka/openshift-acme/issues/68

[2021-04-29 20:03] raffaelespazzoli commented on #89
@mathianasj can you take a look at this? I know we have several Venafi users, why are they not all seeing the same problem? Could it be a Venafi side configuration?

[2021-05-03 21:43] daniyalj commented on #89
Im running into the same problem while testing Venafi (SaaS) with OpenShift

[2021-05-03 22:05] daniyalj commented on #89
@traceygithub did you find the solution to the problem? I do see spec.tls.caCertificate separately as well as part of spec.tls.certificate

[2021-05-04 00:56] traceygithub commented on #89
@daniyalj From the Venafi side, there is an option to set "IncludeChain" false.  If the cert-manager can choose this option when requesting a certificate, I think the solution would be easy.

[2021-05-04 01:01] raffaelespazzoli commented on #89
@traceygithub is it possible to set that option by default in venafi for the certificates requested by cert-manager?

[2021-05-04 01:56] daniyalj commented on #89
thanks! @traceygithub are you using Venafi TPP or Venafi Cloud?

[2021-05-05 02:15] traceygithub commented on #89
@daniyalj we are using Venafi TPP.

[2021-05-05 18:56] traceygithub commented on #89
@raffaelespazzoli here are some thoughts:
1) on the Venafi side, the "IncludeChain" option is available for all CSRs, not just for the cert-manager.
2) changes on the cert-manager targeting for Kubernetes would impact wider range of  audiences.
3) cert-utils operator is mainly used for Openshift route object, would it be an easy solution to have additional annotation/option which does not publish

[2021-05-14 21:00] daniyalj commented on #89
@raffaelespazzoli any update on this? thanks!

[2021-05-17 17:32] raffaelespazzoli commented on #89
@daniyalj here you can find a fix: https://github.com/raffaelespazzoli/cert-utils-operator/tree/fix%2389 would you be able to test it.

[2021-05-17 20:39] daniyalj commented on #89
@raffaelespazzoli just tested it with Venafi Cloud and it is working fine. I will do a test with our TPP instance as well and report back. This is the route created:

[code]

[2021-05-18 00:34] #89 closed

[2021-05-19 04:21] faisalrazzak commented on #89
Adding information for future reference:

- Essentially there is no option in TPP like “IncludeChain” where you can switch ON/OFF downloading of certificate chain.
- This option to include/exclude certificate chain essentially exist in TPP’s WEBSDK call using “IncludeChain” (https://docs.venafi.com/Docs/20.4SDK/TopNav/Content/SDK/WebSDK/r-SDK-POST-Certificates-retrieve.php) and vcert utility (http

[2021-06-02 15:41] EagleIJoe opened #92 "Automatic upgrade to 1.0.6 failing"
Upgrading from 1.0.5 via automatic strategy seems to be failing. Relevant event is:

[2021-06-03 02:59] raffaelespazzoli commented on #92
can you delete the operator deployment? OLM should recreate it for you. Please let me know how it goes.

[2021-06-03 09:19] EagleIJoe commented on #92
@raffaelespazzoli completely removing the operator 1.0.6 and the readding it manually solved the issue. My 1.0.5 was in a different namespace as the default suggested, so that could have caused the hick-up maybe? on OCP 4.7

[2021-06-03 09:55] madchr1st commented on #92
I had to remove the 1.0.5 subscription and uninstall the failing 1.0.6 operator and the reinstall the 1.0.6 operator. Using default namespace `cert-utils-operator`.

[2021-06-03 10:46] raffaelespazzoli commented on #92
Sorry for the problem this has caused. The namespace should not matter. Any
chance you saved the error logs?

On Thu, Jun 3, 2021, 5:55 AM Christian Haller ***@***.***>
wrote:

[2021-06-03 11:25] madchr1st commented on #92
Yes, full logs available in Elasticsearch, which ones do you need?
OLM logged:
[code]

[2021-06-03 12:35] raffaelespazzoli commented on #92
I see. No need for other logs. Unfortunately that change was needed to
allow for multiple operators to be installed in the same namespace. Also
unfortunately all the CoP operators will be affected.
I believe the easier way to solve this is to just delete the operator
deployment. OLM should recreate it with the new upgraded template.

On Thu, Jun 3, 2021 at 7:25 AM Christian Haller ***@***.***>
wro

[2021-06-21 19:46] #92 closed

[2021-06-21 19:46] #88 closed

[2021-07-01 16:54] silverbp commented on #30
This should have been done in helm with a default of not installing it to follow other community standards that have already been set on this. The code is making an assumption that you are using Prometheus in your k8s cluster, if you are not, the code fails and is unusable. If you are going to do this in code even though this is largely done in the helm chart with a flag, it should at minimum be c

[2021-07-01 19:49] raffaelespazzoli commented on #30
I agree.
@trevorbox would you be able to fix this?

[2021-07-04 17:56] #30 closed

[2021-07-16 16:35] mathianasj opened #96 "specify java keystore filename"
Would like to see the ability to specify the filename of the java keystore, some operators require a custom filename this would be beneficial for consumption in such cases.

[2021-08-24 17:10] RyuunoAelia opened #98 "cert-utils-operator will not insert destinationCACertificate in a Route managed by openshift-controller-manager"
I have an issue where I need an Ingress with `reencrypt` (with a cert-manager issued certificate) however this mandates the presence of destinationCACertificate in the Route that `openshift-controller-manager` will create since there is no way to specify this CA in the Ingress (see https://github.com/openshift/openshift-controller-manager/pull/153 ) I wanted to test injecting the `destinationCACer

[2021-08-25 11:29] aceeric opened #100 "Artifacthub"
Folks - do you have plans to publish your Helm chart on ArtifactHub?

[2021-08-25 11:48] raffaelespazzoli commented on #100
I didn't have such plans. @sabre1041 ?

[2021-08-25 13:48] aletsche opened #101 "Use of PrometheusRule for "Certificate soon to expire event" to create OpenShift Altert would be great"
Thanks for this operator. Did not yet check all features but those I tried since yesterday work as documented! :)

I especially like the feature to be informed if a certificiate is soon to expire.

However, on a large platform with a lot of projects/namespaces it is not really practical to manually look into the project to see the "soon to expire events". It is possible to create a job which sends

[2021-08-29 11:27] aelbarkani opened #102 "Operator broke on OKD and Kubernetes"
There was a change in the image which breaks the operator for non Redhat users:
https://github.com/redhat-cop/cert-utils-operator/blob/b238fd4a0cb5453168f36aaa9f5fc91b96c1dc2f/config/default/manager_auth_proxy_patch.yaml#L13

[2021-09-02 08:43] nevidanniu commented on #102
any news?

[2021-09-02 08:44] garethahealy commented on #102
@nevidanniu see: https://github.com/redhat-cop/namespace-configuration-operator/issues/118

[2021-09-29 11:07] raffaelespazzoli commented on #81
@mathianasj can we close this?

[2021-09-29 11:09] raffaelespazzoli commented on #98
this seems to be a conflict between two operators. not sure this can be fixed.

[2021-09-29 11:09] #100 closed

[2021-09-29 11:22] mathianasj commented on #81
I will take a look today to make sure it is present

[2021-11-15 15:11] #102 closed

[2021-11-19 11:49] ron1 opened #106 "Allow specification of a list of namespaces for the operator to watch"
I would like to limit the set of namespaces that the operator is watching. This should be configurable when deploying the operator.

[2021-11-19 14:07] raffaelespazzoli commented on #106
can you describe the use case you are trying to address?

[2021-11-19 16:09] ron1 commented on #106
I have a central namespace in which I store externally-defined tls certs/keys as secrets w/cert-utils-operator annotations. I use kyverno resource generationw/sync (https://kyverno.io/docs/writing-policies/generate/) to clone and rename these secrets into multiple `workload-(dev|test)-[1-9]` namespaces for use by Ingress resources and Java-based Deployment resources. The cert-utils-operator augmen

[2021-11-20 02:34] raffaelespazzoli commented on #106
can you share one of these secrets, just the annotations. I'd like to get a better idea of what is happening.

[2021-11-23 10:12] jakexks opened #107 "Automatically populating route certificates using cert-manager"
Hi there!

We've had several users ask for support for OpenShift `Route` support in cert-manager, e.g.: https://github.com/jetstack/cert-manager/issues/1064.

While we are unwilling to add support for other CRDs directly into cert-manager, as that opens a maintenance can of worms; if we added OpenShift routes, why not Istio VirtualServices, Ambassador Mappings, ..., we are willing to write the cod

[2021-11-23 13:02] raffaelespazzoli commented on #107
@jakexks thanks for reaching out. Let me see I understand the proposal. The controller would look at an annotation and, if present, it would create a `CertificateRequest` (not a `Certificate`). This way the cert material would not be stored in a secret and then injected into the route, but it would be directly stored in the route. Is that the intention?
If so, I recommend creating a separate contr

[2021-11-23 13:28] jakexks commented on #107
Yes, you've understood this correctly. Not having to use an intermediate secret would add some value over the existing secret -> route sync controller, and was a request from a Jetstack customer.

I have some WIP code so I will refactor it into a second controller, only activated if the cert-manager CRDs are present and create a PR for it.

[2021-12-08 11:47] ron1 commented on #106
My secret is as follows:
[code]

[2021-12-08 17:25] ron1 opened #109 "Annotation java-keystore-password not working for Secrets"
I am running cert-utils-operator v1.3.0.

When I specify annotation `cert-utils-operator.redhat-cop.io/java-keystore-password` on a tls secret along with annotation `cert-utils-operator.redhat-cop.io/generate-java-keystores`, the password for the generated keystore.jks remains `changeme` thereby ignoring my specified custom password.

[2021-12-08 17:40] ron1 commented on #109
Nevermind, this turned out to be a pod secret mounting latency issue.

[2021-12-08 17:40] #109 closed

[2022-01-14 20:49] jdziedzic opened #110 "Manager Container restarts due to slow API"
We are seeing an issue where our manager containers restarts due to slow API response:

[code]
This creates a downstream problem for us as cert-utils reconciles resources on startup and makes changes to the secrets which causes reloader (https://github.com/stakater/Reloader) to think the cert has changed, when it hasn't. This causes mass app pod restarts.

By default, the operator runs in a single

[2022-01-16 15:34] raffaelespazzoli commented on #110
1. using the comfigmap as a leader election mechanism is part of the operator sdk (although now there is a way to upgrade to using Leases). The leader election configuration is captured in this structure: https://pkg.go.dev/k8s.io/component-base/config/v1alpha1#LeaderElectionConfiguration.
In the code that structure is initialized here: https://github.com/redhat-cop/cert-utils-operator/blob/e2b8c7

[2022-01-18 19:45] jdziedzic commented on #110
I've narrowed it down to what specifically is changing each time.

This particular cert is taking advantage of the feature `cert-utils-operator.redhat-cop.io/generate-java-keystores: 'true'`

It appears that on every restart, this value is being re-generated which causes not only that value to change, but the resourceVersion value. This is why reloaded is restarting the pods. To recreate this you

[2022-01-19 01:58] raffaelespazzoli commented on #110
ok, I looked at the code and I believe I understand where on create it updates the object even if nothing is changed. If I change the update to server side patch, this particular issue should go away.
As a workaround, are you aware that cert-manager can generate truststores and keystores directly?

[2022-01-19 02:14] raffaelespazzoli commented on #110
can you test if this branch fixes your issue:
https://github.com/redhat-cop/cert-utils-operator/tree/fix%23110

[2022-01-19 02:30] jdziedzic commented on #110
We're quite a bit behind on cert-manager versions as we can't migrate to a new version until all of our app teams update their certificate specs to the new apiVersion. Do you know what version this is available in?

[2022-01-19 16:46] jdziedzic commented on #110
Would it be possible to push an image to quay.io that I could update the CSV to, to test?

[2022-01-19 22:04] jdziedzic commented on #110
I tried to run through the build, but all of our internal firewall and security mechanisms make it impossible to run the makefile successfully. Any help in building the image and publishing to quay.io would be greatly appreciated. Then I can test.

[2022-01-22 01:54] raffaelespazzoli commented on #110
I did some more investigation on this problem. When you calculate a keystore starting from PEM-formatted keys, you get a different value every time (maybe there is timestamp somewhere in it). So the operator behaves correctly as it sees that it needs to update those values...
So the solution is not that simple. I need some time to figure out a clean way to solve this.
In the mean time, disregard t

[2022-01-23 00:47] #110 closed

[2022-02-07 09:36] lechuk47 commented on #107
@jakexks Hi, I'm interested in this feature as well. Can I somehow help you to get this done?

[2022-02-08 18:58] raffaelespazzoli opened #112 "issues with priovate key password in keystore"
Looks like this may have inadvertently caused another issue. One of my developers is seeing an issue with the private key password.

Looking at the source code of cert-utils-operator which we use to generate keystore from tls secrets – I noticed that it is changed recently to fix frequent restarts of the pods every time the operator is restarted.. Below is the issue and the commit that fixes it.

[2022-02-09 08:52] ahnarayanan commented on #112
@raffaelespazzoli the previous behavior of the operator was that the private key generated from the secret and the keystore file were both using the same password which was set on the annotation `cert-utils-operator.redhat-cop.io/java-keystore-password` or `changeme`.

Current behavior is that the keystore uses the right password we set but private key is using an empty string as the password.

Ye

[2022-02-10 15:33] vinzent opened #114 "Generate keystore.jks on OpenShift serving-cert secrets"
Some java apps here want to use the OpenShift service serving cert feature. We already use the cert-utils-operator for secret to OpenShift route injection,

A service annotated with `service.beta.openshift.io/serving-cert-secret-name: <secret name>` will produce a `<secret name> ` secret with tls.key + tls.crt and type `kubernetes.io/tls`. I annotated this secret with `cert-utils-operator.redhat-c

[2022-02-10 16:13] raffaelespazzoli commented on #114
I believe that the problem you are seeing is that the service-cert operator
overwrites the cert-utils operator.
The problem is not the fact that the secret resource has an owner.

On Thu, Feb 10, 2022 at 10:33 AM Thomas Mueller ***@***.***>
wrote:

--
ciao/bye
Raffaele

[2022-02-10 16:17] #114 closed, assigned to nobody

[2022-02-11 16:19] jdziedzic commented on #112
Any chance we could get a release cut for this now that its merged, so we can upgrade the operator in our OpenShift clusters?

[2022-02-15 14:53] jdziedzic opened #115 "Pod stuck in crashloopbackoff"
We upgraded to 1.3.4 and are now seeing the pod constantly crash-looping. This is the last error in the log before the pod gets killed.

2022-02-15T14:48:51.250Z	DPANIC	controllers.secret_to_keystore_contoller	odd number of arguments passed as key-value pairs for logging	{"ignored key": "keystore"}
github.com/go-logr/zapr.handleFields
	/home/runner/go/pkg/mod/github.com/go-logr/zapr@v0.2.0/zapr.go

[2022-02-15 16:44] #115 closed

[2022-02-15 19:40] jdziedzic opened #117 "Possible Issue stemming from null password on keystore"
We are seeing a near constant error in the cert-utils manager log that looks like this:

[code]

I am not sure if this is due to the change from the password being " " to now having a valid password and it can't open the keystore in a previously created secret, or if there is another issue. Any ideas?

[2022-02-15 20:06] #117 closed

[2022-02-16 16:11] whitelion-github opened #119 "Problem with certificate in route sinced a changed has been made in cert-manager"
We opened an issue to jetstack guy, about a changed they've made recently in cert-manager.
See our case : https://github.com/cert-manager/cert-manager/issues/4829.

Problem since we upgrade from cert-manager 1.2.0 to 1.6.1

To make a short story, root ca is not available anymore in tls.crt in the output secret generated by cert-manager, only sub ca.  In our case, to make it work, we need root ca o

[2022-02-16 16:23] ocpvkb opened #120 "Ability to create truststore from Operator controlled Secrets"
In Openshift several operators are able to generate certificate and key in PEM format, stored in tls.crt and tls.key respectively, within a created secret.

e.g.
service serving certificates are intended to support complex middleware applications that require encryption.
(These certificates are issued as TLS web server certificates.
The certificate and key are automatically replaced when they get

[2022-02-16 16:28] raffaelespazzoli commented on #119
`If we had the annotation inject-CA: 'True' in the route, we have root ca
in caCertificate section and sub ca in certificate section (root and sub
are split / not together full chain) and it does not work either.`
I don't understand the above statement. If you don't have the root CA in
the `ca.crt` field from cert-manager, setting `inject-CA` to `true` should
either fail or not do anything. but ce

[2022-02-16 16:35] ocpvkb commented on #101
Request +1 :-)

[2022-02-16 19:50] whitelion-github commented on #119
I will go, with a concrete example of my config and my route with cert-manager 1.6.1

kind: route
     annotations:
          cert-utils-operator.hydroquebec.com/certs-from-secret: cert-secret
          cert-utils-operator.hydroquebec.com/destinationCA-from-secret: cert-secret

kind: secret cert-secret  (secret created by cert-manager)
     [ca.crt]
          root ca
     [tls.crt]
         signed

[2022-02-16 19:53] whitelion-github commented on #119
I will go, with a concrete example of my config and my route with cert-manager 1.6.1

kind: route
     annotations:
          cert-utils-operator.hydroquebec.com/certs-from-secret: cert-secret
          cert-utils-operator.hydroquebec.com/destinationCA-from-secret: cert-secret

kind: secret cert-secret  (secret created by cert-manager)
     [ca.crt]
          root ca
     [tls.crt]
         signed

[2022-02-16 19:54] whitelion-github commented on #119
Hope you'll understand the explanation.

[2022-02-16 19:57] whitelion-github commented on #119
The point is how can you polulate the fullchain (root/sub) together by using cert-util-operator if cert-manager secret separate root and sub.

[2022-02-16 21:12] raffaelespazzoli commented on #119
I understand the point, I don't understand the issue still.
Let's start from the beginning, do you get the ca.crt from cert-manager?
if so, do you set the `inject-CA` to `true`?

[2022-02-16 23:32] whitelion-github commented on #119
Yes we got the ca.crt (containing only public root cert)
With cert-manager 1.2.0 we were not using inject-CA annotation because full chain certificate were avalaible in tls.crt, so we were ok using only certs-from-secret annotation.  In the route, we add the complete chain in certificate section.
It's not the case anymore.

Use annotation inject-CA to true does not solve the probleme because, the

[2022-02-16 23:39] raffaelespazzoli commented on #119
`Use annotation inject-CA to true does not solve the problem because, the sub and the root are separated.`
This shouldn't be the case, my understanding is that the route should present a certificate that is the merge of the ca.crt and tls.crt. You are basically saying that the ca.crt is being ignored, correct?
Then what configuration would work for you? This sounds more like a OCP issue than cert-

[2022-02-16 23:40] #98 closed

[2022-02-16 23:44] raffaelespazzoli commented on #120
maybe you can find another operator that replicates the content of a secret to another secret. Something like the reflector operator. And then you can inject the jks in the secret that does not get overwritten. This is really an OCP issue, in particular of the service serving certificate controller. It does not have to rewrite the entire secret if some fields are added.
Closing for now, there isn'

[2022-02-16 23:44] #120 closed

[2022-02-17 00:26] whitelion-github commented on #119
You're right, ca.crt et tls.crt is a merge of the signe certificate with it's CA.  The CA chain must stay together.

I should have in ocp route, sub and root in the same definition block under tls.   The merge of certificate block (signed certificate) and caCertificate block with root and sub is working if I manually provision the route.

But I can't explain why the merge of the certificate block

[2022-02-17 12:16] ocpvkb commented on #120
Hello,
I can't agree with you on this argument. This is not an openshift issue.

When creating a Secret, you can specify its type using the type field of a Secret resource, or certain equivalent kubectl command line flags (if available).
The type of a Secret is used to facilitate programmatic handling of different kinds of confidential data.
Kubernetes provides several builtin types for some commo

[2022-02-17 17:36] #101 closed

[2022-02-24 15:13] darren-oxford opened #122 "Unable to stop expiry alert"
Having enabled expiry alert monitoring by adding the cert-utils-operator.redhat-cop.io/generate-cert-expiry-alert: 'true' annotation. I now no longer want monitoring on that tls secret but alerts continue.

I tried setting the annotation to cert-utils-operator.redhat-cop.io/generate-cert-expiry-alert: 'false' and deleting the annotation but neither stop the alerts. Is there a way to turn off the e

[2022-02-25 14:21] bromaniac commented on #122
I have somewhat the same problem. I have **not** added the cert-utils-operator.redhat-cop.io/generate-cert-expiry-alert: 'true' annotation on any tls secret yet but get alerts that some certificates are expiring anyway.

I've also tried setting cert-utils-operator.redhat-cop.io/generate-cert-expiry-alert: 'false' on some certificates to stop the alerts but like darren-oxford wrote that doesn't hel

[2022-02-25 14:40] raffaelespazzoli commented on #122
this sounds like a bug. a likely work around is to restart the operator.

[2022-02-25 14:41] raffaelespazzoli commented on #122
also notice that with the last feature we released which sends alerts via Prometheus, you probably don't need the event-based alerts anymore.

[2022-02-25 14:53] darren-oxford commented on #122
I can confirm that restarting the operator doesn't work ironically it then results in a doubling up of the alerts. However @raffaelespazzoli mentioning Prometheus makes me realise that the alerts are Prometheus alerts, these seem to be configured for all certificates and that is why @bromaniac is receiving notifications for certificates that do not have expiry-alert annotation. It would therefore

[2022-02-25 15:01] darren-oxford commented on #122
Ok, so looking at the recent changes to the code I can see that the operator now generates the following metrics for all certificates.

certutils_certificate_issue_time
certutils_certificate_expiry_time
cert:validity_duration:sec
cert:time_to_expiration:sec

Prometheus is using these to generate alerts, so it would seem that rather than do this for every certificate we should ideally have an annot

[2022-03-01 10:46] davidkarlsen opened #123 "false alerts"
[code]

these rotate automatically and should maybe be ignored by default, it just generates noise.

[2022-03-01 17:18] raffaelespazzoli commented on #122
duplicates #123

ok, so idea behind the new alert feature is to generate alert for all certificates. I thought that this would be useful even for automatically rotated certificates because the automation that is supposed to rotate the certs might be failing.
So I am not too inclined to remove the feature altogether.
Maybe instead we should think about two options:
1. suppress the alerts in alert m

[2022-03-01 17:43] darren-oxford commented on #122
@raffaelespazzoli I agree that this is a good addition, it is better to use Prometheus for notifications.

The main issue is that the documentation is unclear, so this behaviour is unexpected and currently causing user confusion. People reading the README.md will expect to get notifications only when annotation 'cert-utils-operator.redhat-cop.io/generate-cert-expiry-alert: "true"' is added to a tl

[2022-03-02 07:35] raffaelespazzoli commented on #123
please see the discussion at #122

[2022-03-03 14:42] lechuk47 opened #124 "Helm installation is broken"
It seems that the helm chart is missing the service account.

[code]

The operator image is missing too.

[code]

[2022-03-06 15:30] #124 closed

[2022-03-06 16:17] #122 closed

[2022-03-15 10:58] ocpvkb opened #127 "generating the truststore in an new secret of type Opaque"
When creating a Secret, you can specify its type using the type field of a Secret resource, or certain equivalent kubectl command line flags (if available).
The type of a Secret is used to facilitate programmatic handling of different kinds of confidential data.
Kubernetes provides several builtin types for some common usage scenarios.
These types vary in terms of the validations performed and the

[2022-03-24 11:38] QuingKhaos commented on #81
Need this as well. The The Cluster Network Operator injects certificates across any namespace when an empty ConfigMap is created with the config.openshift.io/inject-trusted-cabundle=true label, but several components like the GitLab Runner Operator expect the ca-bundle within a secret.

Injecting the ca from the above configmap into the secret would be required.

[2022-03-28 19:27] tchellomello opened #128 "unable to update route error"
I'm testing the `cert-utils-operator` on Openshift 4.9.21 and I'm hitting the error below:

[code]

Some of the artifacts that I'm using:

### custom domain
[code]

### certificate
[code]

### route
[code]

Running a `curl` command  I can see the certificate without problems, but why is the operator throwing this error?

Thanks
mmello

[2022-03-28 20:03] raffaelespazzoli commented on #128
usually that error is transient, and it happens when two operators update an object at the same time. It's the optimistic locking mechanism inside the go-client. Retrying usually fixes the error, so I was going to ask if eventually the operator was able to put the certs in the secret.
It looks like now from the manifest you shared, but can you confirm? anything else suspect in the log.
The reason

[2022-03-31 18:24] tchellomello commented on #128
Thanks, @raffaelespazzoli for your assistance.

I'm closing this issue.

[2022-03-31 18:24] #128 closed

[2022-04-14 13:00] dylandeflavia opened #131 "ConstraintsNotSatisfiable - V1.3.9"
Hi, I tried to uninstall and re-install a new version of the cert-utils-operator however I get the below error:

`constraints not satisfiable: @existing/cert-utils-operator//cert-utils-operator.v1.3.9 and community-operators/openshift-marketplace/alpha/cert-utils-operator.v1.3.9 originate from package cert-utils-operator, subscription cert-utils-operator requires community-operators/openshift-mark

[2022-04-14 13:10] raffaelespazzoli commented on #131
hello, I had similar issues with other operators. I don't know how to fix them it looks like an OLM problem. Can you try uninstall the operator and reinstalling it? It should not affect your current certificates.

[2022-04-14 13:32] dylandeflavia commented on #131
Thank you Raffaele.

Tried to uninstall and re-install the operator but getting the constraint errors.

![image](https://user-images.githubusercontent.com/57752261/163401457-c9b2c0ac-51b5-4b03-93da-b7961e6ff366.png)

[2022-04-14 13:47] dylandeflavia commented on #131
@raffaelespazzoli - Thank you for pointing me in the right direction 👍

Basically, I managed to install the cert-utils-operator in the same namespace which is the recommended.

Issue was with the catalog-operator: restarted the operator and worked.

[2022-04-14 13:55] #131 closed

[2022-04-22 11:57] vinzent opened #132 "Missing webhook-server-cert Secret when installed with Helm"
Affected Helm chart version: 1.3.9

Detected while upgrading from 1.3.0

When installing with helm, the kube-rbac proxy container wants to mount a `webhook-server-cert` Secret. Such a secret is not created by Helm.

https://github.com/redhat-cop/cert-utils-operator/blob/master/config/helmchart/templates/manager.yaml#L57-L60

Seems there is a toggle to `enableCertManager` that will provision this c

[2022-05-28 15:29] raffaelespazzoli commented on #132
the `enableCertManager` variable is not documented, but you can use it. I'll add it to the value file
the webhooks at the momnent are missing but we create the secret anyway for better alignment with the other operators.

[2022-05-28 16:48] #132 closed

[2022-06-02 14:22] vinzent opened #137 "Cert-Manager vs. OpenShift Service serving-cert-secret-name Annotation (1.3.9)"
I've configured `enableCertManager=true` in my helm values.

I discovered the Service `cert-utils-operator-controller-manager-metrics-service` has the  `service.alpha.openshift.io/serving-cert-secret-name: cert-utils-operator-certs` annotation.

and additionally the Certificate resource `metrics-serving-cert` is created which also points to the secret `cert-utils-operator-certs`.

Now the openshif

[2022-06-02 14:44] vinzent commented on #137
I've got 14'000 CertificateRequest resources. :rocket:

[2022-06-02 14:56] raffaelespazzoli commented on #137
ok, thanks for reporting this. We expect people using OCP to install via OLM and people using other kube distributions to install via helm. We don't test helm on OCP. thanks for the finding.

[2022-06-02 15:42] vinzent commented on #137
unfortunately, we only have access to Certified and Marketplace operators. but not community operators.

[2022-06-02 22:56] raffaelespazzoli commented on #137
can you use `enableCertManager=false` ?

[2022-06-06 16:57] cigna-asoria opened #138 "OpenShift 4.8.x - Prometheus cert-utils metrics down"
Hi -
We are on OpenShift 4.8.35 and updated our cert-utils to 1.3.10 in all our environments.
But we are getting an alert message that the cert-utils metrics is down.
cert-utils is installed in namespace openshift-operators and not cert-utils-operator.

The endpoint is the IP and I can get those metrics per the commands you specify in the wiki, even using the service name.
But I'm getting this err

[2022-06-08 17:41] whitelion-github commented on #119
How we succeeded to solve this issue.  We fork the cert-util-operator code to manipulate certificate in the route.  We now always use inject-CA : true in our route.  The new code remove intermediate (sub) ca from "certificate" section.  After, it copy this certificate in "caCertificate" where we already have root certificate, so we can have the two certificates (ca and sub) together.  Works this w

[2022-06-10 10:52] ocpvkb commented on #137
Hi @raffaelespazzoli ,
it is the same behavior as mentioned in https://github.com/redhat-cop/cert-utils-operator/issues/127

This ist not Openshift specific ! It is Kubernetes standart.

The main problem:
The Cert Utils Operator injects (change !) exsisting resources, which are handled (declarative described) by e.g. other operators. This Injection/Change starts a endless loop!

[2022-06-10 11:16] vinzent commented on #137
The root cause for using `enableCertManager=true` was that the deployment references a secret `webhook-server-cert` which is not created without (related: https://github.com/redhat-cop/cert-utils-operator/issues/132)

[2022-06-13 19:13] cigna-asoria commented on #138
Only 12 issues listed and yet no updates?
Can someone please assist

[2022-06-14 15:25] davgordo commented on #138
It seems like the certificate being issued looks properly configured if the operator was installed to the `openshift-operators` namespace. But given that the service monitor seems to target a service in a namespace called `cert-utils-operator`, the DNS is not matching.

This shouldn't happen, because the template for the certificate resources takes into account the target namespace:
https://github

[2022-06-14 20:50] cigna-asoria commented on #138
Hi @davgordo -
I did not install the cert-utils operator through Helm. I actually installed it through OperatorHub UI via the OpenShift Console.
Can I provide you with any additional information?

[2022-06-14 21:08] cigna-asoria commented on #138
@davgordo -
We do have cert-manager installed and I just checked, there is no certificate for cert-utils like the one provided in https://github.com/redhat-cop/cert-utils-operator/blob/v1.3.10/config/helmchart/templates/certificate.yaml

Let me get the data your requested

[2022-06-14 21:15] davgordo commented on #138
Yes, so for context. When installing via Helm, we provide cert-manager support because we're making an assumption (sometimes it's a bad assumption) that users using Helm are probably targeting plain k8s.

When the target platform is OpenShift, on the other hand, there are some built-in certificate capabilities that we can leverage instead. Specifically you'll see this config in the annotations of

[2022-06-14 21:19] cigna-asoria commented on #138
Here is the service yaml, for DNS, how do I pull that information? I can't provide the secret since it contains certificates.
I did remove the UID and IP's below.

apiVersion: v1
metadata:
  annotations:
    service.alpha.openshift.io/serving-cert-secret-name: cert-utils-operator-certs
  resourceVersion: '974328279'
  name: cert-utils-operator-controller-manager-metrics-service
  managedFields:

[2022-06-14 21:23] cigna-asoria commented on #138
Here is the DNS output.

 Downloads % openssl x509 -in cert.crt -text -noout |grep DNS
                DNS:cert-utils-operator-controller-manager-metrics-service.openshift-operators.svc, DNS:cert-utils-operator-controller-manager-metrics-service.openshift-operators.svc.cluster.local
 Downloads %

[2022-06-14 21:25] cigna-asoria commented on #138
@davgordo  - I provided the information above. All seems right so why did Prometheus use the wrong server_name?

[2022-06-14 21:37] davgordo commented on #138
So I think it doesn't look right to me, because I thought this operator is installed in the `cert-utils-operator` namespace, and the DNS on the cert would lead me to believe that it is installed in the `openshift-operators` namespace.

The operator is deployed to the `cert-utils-operator` namespace, right? Or did I misunderstand?

[2022-06-14 21:43] cigna-asoria commented on #138
@davgordo  - cert-utils is installed under `openshift-operators ` **not** `cert-utils-operator` - that is why i think we are running into this issue.

[2022-06-14 21:52] davgordo commented on #138
Ah hah! My apologies for misunderstanding. So Prometheus is going to search for services usually by label. We can tell it what labels to search for with `ServiceMonitor` configuration. I would like to see that `ServiceMonitor` yaml if you can provide it.

My cluster spun down, but as soon as I spin back up, I will try to specify the `openshift-operators` namespace when I install with OLM and try a

[2022-06-14 21:54] cigna-asoria commented on #138
@davgordo  No, we don't have a namespace called `cert-utils-operator` -- Let me check where I can pull the `ServiceMonitor`

[2022-06-14 22:02] cigna-asoria commented on #138
@davgordo  Found it and I think this might be the problem? I bolded it below.

 Downloads># oc get ServiceMonitor cert-utils-operator-controller-manager-metrics-monitor -n openshift-operators -o yaml
apiVersion: monitoring.coreos.com/v1
kind: ServiceMonitor
metadata:
  creationTimestamp: "2022-05-06T20:35:03Z"
  generation: 1
  labels:
    control-plane: cert-utils-operator
  managedFields:
  - ap

[2022-06-14 22:05] davgordo commented on #138
Now we're cookin'. Server name is wrong there. Thanks for all your help with the extra info. The problem is clear now. We'll have to do some brainstorming for a fix.

[2022-06-14 22:06] cigna-asoria commented on #138
@davgordo  - Yeah! Please do keep me informed. I have many clusters with this issue that i definitely want to fix.

[2022-06-14 22:07] davgordo commented on #138
@cigna-asoria actually, I don't know for sure whether OLM creates that service monitor automatically... Did you all configure that, or was that provided by the operator provisioning?

[2022-06-14 22:09] cigna-asoria commented on #138
@davgordo  -  No, we did not configure that. We only upgraded/installed cert-utils instances through OperatorHub UI via the OpenShift Console. My take is that OpenShift deployed it.

[2022-06-14 22:13] davgordo commented on #138
@cigna-asoria FYI, I know it's not an ideal fix, but I am able to modify the serverName manually and this change does not get overwritten by the operator. This might help you temporarily until we make the next release.

[2022-06-22 11:48] nate-duke commented on #107
@lechuk47 work seems to be moving along on this recently over in [cert-manager/openshift-routes](https://github.com/cert-manager/openshift-routes).

[2022-08-31 21:47] andychoi-ibm opened #141 "Ability to inject openshift-service-ca.crt ConfigMap as route destinationCACertificate"
OpenShift adds openshift-service-ca.crt ConfigMap in all namespaces. It'd be great if there is an annotation that can be used to populate destinationCACertificate of a route and update the route when the service CA in the ConfigMap changes.

[2022-09-20 13:17] whitelion-github commented on #137
Add the same problem.  A major one ! It have generated so much certificaterequest that it cause etcd problem (grownth and performance) and make some of our clusters to crash because openshift-kube-apiserver was overhlem.

Need to document helm installation with openshift and set a flag to disable use of service serving certificate in service.

template : v1_service_cert-utils-operator-controller-m

[2022-09-29 14:15] ocpvkb commented on #127
/remove-lifecycle stale

[2022-11-24 11:10] vinzent opened #142 "truststore.jks in ConfigMaps updated on every pod restart"
We have ConfigMaps with Certificates that we convert to JKS with the help of cert-utils-operator (`cert-utils-operator.redhat-cop.io/generate-java-truststore` annotation, currently using v1.3.9). We also have Stakater Reloader that restart our apps as truststores change.

We have discovered that when Cert-Utils-Operator restarts all our ConfigMaps are updated. And then Stakater Reloader kicks in a

[2022-11-24 14:10] raffaelespazzoli commented on #142
I think your assessment is correct. not sure what to do to prevent this. Asking internally...

[2022-11-24 14:13] vinzent commented on #142
maybe the CreationTimestamp of the ConfigMap could be used?

[code]

or a checksum of the ca-bundle.crt content could be computed and be persisted as annotation.

[2022-11-24 14:22] raffaelespazzoli commented on #142
it would still be different than the one used to create the truststore. Maybe it's possible to inspect the truststore (if it exists) and use exactly that timestamp